
.slider {
  width: 100%;
  max-width: 70vmin;
  height: 50vmin;
  position: relative;
  background: var(--violet);
  color: var(--violet);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1vmin;
  padding: 10px 30px;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

.slider:hover {
  background-color: var(--purple);
  color: var(--purple);
  box-shadow: 0 0 35px var(--purple);
}

.slider .slider-content {
  content: "";
  position: absolute;
  inset: 0.5vmin;
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider .slider-content .img-container {
  height: 95%;
  width: 95%;
  position: relative;
  overflow: hidden;
}

.check-box {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  border: 1px solid var(--purple);
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 1vmin;
}

.check-box svg {
  margin-top: 0.5vmin;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out;
}

.slider .slider-content img {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: none;
  transition: 0.5s;

}


.active-img {
  display: inline-block !important;
}

.slider .slider-content .href-container {
  position: absolute;
  bottom: 0;
  z-index: 20;
}

.slider .slider-content .href-container a {
  margin: 0 2vmin;
  /* margin: 0; */
  display: inline-block;
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--purple);
  box-shadow: 0 0 10px var(--purple);
  transition: 0.5s;
}

.active-href {
  background-color: var(--purple) !important;
  margin-bottom: 1vmin !important;
}

.slider i {
  position: absolute;
  inset: 0;
  display: block;
}

.slider i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10%;
  height: 1vmin;
  background-color: white;
  transform: translate(-50%) skewX(325deg);
  transition: 0.5s;
}

.slider:hover i::before {
  width: 20%;
  left: 20%;
}

.slider i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10%;
  height: 1vmin;
  background-color: white;
  transform: translate(-50%) skewX(325deg);
  transition: 0.5s;
}

.slider:hover i::after {
  width: 20%;
  left: 80%;
}


.row {
  width: 100%;
  max-width: 70vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}